# Ігноруємо папки збірки Maven
target/
**/target/

# Ігноруємо налаштування IDE
.idea/
*.iml
.vscode/

# Ігноруємо базу даних (вона має створюватися сама)
*.db
server/data/*.db

# Інше сміття
*.log
.DS_Store

client/output/